# Dependencies
node_modules/

# Environment variables
.env
*.tfvars
*.terraform
terraform.tfstate
terraform.tfstate.backup

# Playwright
playwright-report/
test-results/

meroshare-last-failures.json
*.jpg
*.mp4

# OS
.DS_Store
